<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="cn.tedu.cloudnote.dao.NoteDao">
	<select id="findByBookId"
	        parameterType="String"
	        resultType="Map">
		select 
			cn_note_id as id,
			cn_note_title as title
		from
			cn_note
		where
			cn_note_status_id='1' and cn_notebook_id=#{bookId}
	</select>
	<select id="findByNoteId"
	        parameterType="String"
	        resultType="cn.tedu.cloudnote.entity.Note">
		select 
			cn_note_id as id,
			cn_notebook_id as bookid,
			cn_user_id as userId,
			cn_note_status_id as statusId,
			cn_note_type_id as typeId,
			cn_note_title as title,
			cn_note_body as body,
			cn_note_create_time as createTime,
			cn_note_last_modify_time as lastModifyTime
		from 
			cn_note
		where
			cn_note_id=#{id}
	</select>
	<update id="update"
			  parameterType="cn.tedu.cloudnote.entity.Note">
		update
			cn_note
		set
			cn_note_title=#{title},
			cn_note_body=#{body},
			cn_note_last_modify_time=#{lastModifyTime}
		where
			cn_note_id=#{id}
	</update>
	<update id="updateStatus"
			  parameterType="String">
		update cn_note 
		set cn_note_status_id='2'
		where cn_note_id=#{noteId}
	</update>
</mapper>









